#navbar {
    display: flex;
    flex-direction: row;
    background-color: #181818;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

#rightButtons {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#loginButton,
#registerButton,
#logoutButton {
    background:none;
    font-size: x-large;
    height: 20px;
    width: 70px;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 50px;
    text-decoration: none;
    text-wrap: nowrap;
}

#username {
    background:none;
    font-size: x-large;
    height: 27px;
   
    border: none;
    color: white;
    margin-left: 10px;
    margin-right: 50px;
    text-decoration: none;
    text-wrap: nowrap;
}

#registerButton,
#logoutButton{
    margin-right: 100px !important;
}

#homeButton{
    min-width: 100%;
    max-width: 100%;
    width: 80px;
    margin-left: 20px;
}

#homeButton:hover,
#registerButton:hover,
#loginButton:hover,
#logoutButton:hover {
    color: #d38080;
    transition: color 300ms linear;
}